[Desktop Entry]
Version=1.0
Name=Robomongo
Comment=Robomongo
Exec=robomongo
Icon=/opt/robomongo/robomongo.png
Terminal=false
Type=Application
Categories=Application;
